In [ ]:
#for loop
integer = [1, 2, 3, 4, 5, 6, 7, 8]
for i in integer:
  print(i)

In [ ]:
for i in integer:
  print("yep!")

In [ ]:
for i in integer:
  print(i+i)

In [ ]:
for i in integer:
  print(i*i)

In [ ]:
ice_cream_dict = {'name': 'Alex Freberg', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

In [ ]:
for cream in ice_cream_dict:
    print(cream)
print("----------------------------------------------------------------------------------------------------------")
for cream in ice_cream_dict.values():
    print(cream)
print("----------------------------------------------------------------------------------------------------------")
for key, value in ice_cream_dict.items():
  print(key, "->", value)

for i in range(20):
  print("-")

In [ ]:
#nested for loop

flavors = ['Vanilla', 'Chocolate', 'Cookie Dough']
toppings = ['Hot Fudge', 'Oreos', 'Marshmallows']

for one in flavors:
  for two in toppings:
    print(one, "topped with", two)

In [ ]:
zen = '''
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
'''

for char in zen:
  if char not in "aeiou":
    print(char, end= "")

Btfl s bttr thn gly.
Explct s bttr thn mplct.
Smpl s bttr thn cmplx.
Cmplx s bttr thn cmplctd.

In [ ]:
numbers = range(5)
'''
start is 0 by default,
step is 1 by default,
range generated from 0 to 4
'''
print (list(numbers))
# step is 1 by default, range generated from 10 to 19
numbers = range(10,20)
print (list(numbers))
# range generated from 1 to 10 increment by step of 2
numbers = range(1, 10, 2)
print (list(numbers))

[0, 1, 2, 3, 4]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9]

In [ ]:
#Factorial
# 5 = 1*2*3*4*5

fact = 1
n = 10
for i in range(1, n+1):
  fact = fact * i
print("factorial of", n, "is", fact)

factorial of 10 is 3628800

In [ ]:
numbers = [34, 56, 78, 32, 98]
indices = range(len(numbers))
for i in indices:
  print("index:", i, "number:", numbers[i])

index: 0 number: 34
index: 1 number: 56
index: 2 number: 78
index: 3 number: 32
index: 4 number: 98

In [ ]:
# Table

for i in range(1,11):
  for j in range(1,11):
    k = i*j
    print("{:4d}".format(k), end = " ")
  print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

In [ ]:
#star pattern
# range(start, stop, step)
n = 5
for i in range(0, n):
  for j in range(0, i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 5
for i in range(0, n):
  for j in range(n, i, -1):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
num = int(input("enter the number of rows: "))
for i in range(0, num):
  for j in range(0, num-i-1):
    print(end =" ")
  for j in range(0, i+1):
    print("*", end=" ")
  print()

enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n = 5
for i in range(0, n):
  for j in range(0, i+1):
    print("*", end=" ")
  print()
for i in range(n, 0, -1):
  for j in range(0, i-1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# if else


if 5%2 == 0:
  print("even")
print("odd")

odd

In [ ]:
print('It worked!') if 10>30 else print('It did not work...')

It did not work...

In [ ]:
n = 6
if n%2 == 0:
  print("its even")
else:
  print("its odd")

its even

In [ ]:
# 20% on amount exceeding 10000,
# 10% for amount between 5-10000,
# 5% if it is between 1 to 5000.
# no discount if amount<1000

# amount = int(round(input("Enter your amount: ")))
amount = 10001
print("amount: ", amount)

if amount>=10000:
  discount = amount * 20 / 100
else:
  if amount > 5000 and amount < 10000:
    discount = amount * 10 / 100
  else:
    if amount > 1000 and amount < 5000:
      discount = amount * 5 / 100
    else:
      discount = 0
print("Payable amount: ", amount - discount)

print("----------------------------------------------------------------------------------")

if amount >= 10000:
  discount = amount * 15 / 100
elif (amount >= 5000) and (amount <= 10000):
  discount = amount * 10 / 100
elif (amount >= 1000) and (amount <= 5000):
  discount = amount * 5 / 100
else:
  discount = 0

print("Payable amount: ", amount - discount)

In [ ]:
# match-case

# m = input("Enter the number:")
def weekday(n):
  match(n):
    case 1: return "Monday"
    case 2: return "Tuesday"
    case 3: return "Wednesday"
    case 4: return "Thrusday"
    case 5: return "Friday"
    case 6: return "Saturday"
    case 7: return "Sunday"
    case _: return "Invalid Input"

print(weekday(7))

Sunday

In [ ]:
def access(user):
  match(user):
    case "Admin" | "Manager": return "Full Access"
    case "Guest" | "Employee": return "Limited Access"
    case _: return "Invalid user"

print(access("Manager"))
print(access("Employee"))
print(access("Ravi"))

Full Access
Limited Access
Invalid user

In [ ]:
def greeting(greet):
  match greet:
    case [time, names]:
      return f'Good {time} {names}'
    case [time, *names]:
      msg=''
      for name in names:
        msg += f'Good {time} {names}' # f means format
      return msg

print(greeting(["Morning", "Om"]))

Good Morning Om

In [ ]:
#while loop

number = 0
while number<5:
  print(number)
  number = number +1

0
1
2
3
4

In [ ]:
count=0
while count<5:
   count+=1
   print ("Iteration no. {}".format(count))
else:
   print ("While loop over. Now in else block")
print ("End of while loop")

Iteration no. 1
Iteration no. 2
Iteration no. 3
Iteration no. 4
Iteration no. 5
While loop over. Now in else block
End of while loop

In [ ]:
def greeting(name):
  print("Hello {}".format(name))
  print(f'Nice to meet you, {name}')
  return

In [ ]:
def square(num):
  print("Square of number:", num**2)
  print(num*num)

square(8)


def square_cust(num, power):
  print(num**power)
  greeting("Om")

square_cust(8,2)
square_cust(power = 8, num = 2)

Square of number: 64
64
64
Hello Om
Nice to meet you, Om
256
Hello Om
Nice to meet you, Om

In [ ]:
def division(num, den):
   quotient = num/den
   print ("num:{} den:{} quotient:{}".format(num, den, quotient))

division(num=5, den=10)

num:5 den:10 quotient:0.5

In [ ]:
print("Hello","World", sep="-")

Hello-World

In [ ]:
#The args variable prefixed with "*" stores all the values passed to it. Here, args becomes a tuple. We can run a loop over its items to add the numbers.
def add(*args):
  s = 0
  for x in args:
    s = x+s
  return s

result = add(10,20,30,40)
print(result)

100

In [ ]:
def avg(first, *rest):
  second = max(rest)
  return (first+second)/2

result = avg(40,30,50,20)
print(result)

45.0

In [ ]:
#string slicing

var = "Hello World"

var[0], var[-11]
var[3], var[-8] #it has negative scheme also

print ("var:",var)
print ("var[3:8]:", var[3:8])
print ("var[-9:-4]:", var[-9:-4])

var1=var[:6]
print ("slice:", var1)
print ("var1[:2]:", var1[:2])

var: Hello World
var[3:8]: lo Wo
var[-9:-4]: llo W
slice: Hello
var1[:2]: He

In [ ]:
#join() method in str class to concatenate all the characters.

s1="WORD"
print ("original string:", s1)
l1=list(s1)

l1.insert(3,"L")

print (l1)

s1=''.join(l1)
print ("Modified string:", s1)

original string: WORD
['W', 'O', 'R', 'L', 'D']
Modified string: WORLD

In [ ]:
# ignore \
s = 'This string will not include \
backslashes or newline characters.'
print (s)

# escape backslash
s=s = 'The \\character is called backslash'
print (s)

# escape single quote
s='Hello \'Python\''
print (s)

# escape double quote
s="Hello \"Python\""
print (s)

# escape \b to generate ASCII backspace
s='Hel\blo'
print (s)

# ASCII Bell character
s='Hello\a'
print (s)

# newline
s='Hello\nPython'
print (s)

# Horizontal tab
s='Hello\tPython'
print (s)

# form feed
s= "hello\fworld"
print (s)

# Octal notation
s="\101"
print(s)

# Hexadecimal notation
s="\x41"
print (s)

This string will not include backslashes or newline characters.
The \character is called backslash
Hello 'Python'
Hello "Python"
Hello
Hello
Hello
Python
Hello	Python
helloworld
A
A