In [ ]:
#Python program to find number of vowels in a given string.

mystr = "All animals are equal. Some are more equal"
vowels = "aeiou"
count = 0

for x in mystr:
  if x.lower() in vowels:
    count=count+1

print(count)

18

In [ ]:
#Python program to find unique numbers in a given list.

list1 = [1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2]
list2 = []

for x in list1:
  if x not in list2:
    list2.append(x)

print(list2)

[1, 9, 6, 3, 4, 5, 2, 7, 8]

In [ ]:
#Python program to find sum of all numbers in a list.

L1 = [1, 9, 1, 6, 3, 4]
ttl = 0
# ttl = sum(L1)
# print(ttl)

for x in L1:
  ttl = ttl+x

print(ttl)

24

In [ ]:
#Python program to create a list of 5 random integers.

import random

L1 = []

for x in range(5):
  x = random.randint(0, 100)
  L1.append(x)

print(L1)

[96, 49, 73, 23, 24]

In [ ]:
#Python program to remove all odd numbers from a list.

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in list1:
  if (i%2==1):
    list1.remove(i)

print(list1)

[2, 4, 6, 8, 10]

In [ ]:
#Python program to find unique numbers in a given tuple

# function for iteration and finding unique values
def unique_numbers(numbers):
	un = []
	for num in numbers:
		if num not in un:
			un.append(num)
	# to convert list into tuple using tuple() function
	unique_tuple = tuple(un)
	return unique_tuple


# print the unique tuple by extracting all the unique elements
numbers = (1, 2, 3, 4, 2, 2, 2, 1, 5, 4, 3, 4, 3)
print(unique_numbers(numbers))


print(tuple(set(numbers)))

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [ ]:
#Python program to find common elements in two lists with the help of set operations

l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
s1=set(l1)
s2=set(l2)
commons = s1&s2 # or s1.intersection(s2)
commonlist = list(commons)
print (commonlist)

[4, 5]

In [ ]:
#Python program to check if a set is a subset of another

s1={1,2,3,4,5}
s2={4,5}
if s2.issubset(s1):
   print ("s2 is a subset of s1")
else:
   print ("s2 is not a subset of s1")

s2 is a subset of s1

In [ ]:
#Python program to obtain a list of unique elements in a list

T1 = (1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2)
s1 = set(T1)
print (s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#Python program to create a new dictionary by extracting the keys from a given dictionary.

d1 = {"one":11, "two":22, "three":33, "four":44, "five":55}
keys = ['two', 'five']
d2={}

for k in keys:
  d2[k] = d1[k]

print(d2)

{'two': 22, 'five': 55}

In [ ]:
#Python program to convert a dictionary to list of (k,v) tuples.

d1 = {"one":11, "two":22, "three":33, "four":44, "five":55}
L1 = list(d1.items())
print (L1)

[('one', 11), ('two', 22), ('three', 33), ('four', 44), ('five', 55)]