In [ ]:
a = 12
id(a), id(12)

(134070673539664, 134070673539664)

In [ ]:
print(type(12))
print(type(1292.3))
print(type("Om"))
print(type(12+3j))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [ ]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [ ]:
[2023, "Python", 3.11, 5+6j, 1.23E-4]
print(type([2023, "Python", 3.11, 5+6j, 1.23E-4]))

<class 'list'>

In [ ]:
x = 0O34
print ("0O34 in octal is", x, type(x))
# Using Hexadecimal notation
x = 0X1c
print ("0X1c in Hexadecimal is", x, type(x))

0O34 in octal is 28 <class 'int'>
0X1c in Hexadecimal is 28 <class 'int'>

In [ ]:
# list

list1 = [1, "Om", 12.5, True]
print(list1)

list1.append("Hello")
print(list1)

print(list1[1])
list1[1] = "Omya"
print(list1)

nest_list = ['Vanilla', 3, ['Scoops','Spoon'],True]
print(nest_list[2][1])

#can have duplicates
list1.append(1)
list1.append("Omya")
print(list1)

list1.count("Omya")

list1.reverse()
print(list1)

list2 = [9, 8, 7, 6, 5, 4, 3, 2, 1]
list2.sort()
print(list2)

print(list1[-1]) # list also allow negative indexing
print(list1[1:4]) # slicing
print(list1+list2) # list concatenation
list1.pop()  # removes the last element from the list
print(list1)

[1, 'Om', 12.5, True]
[1, 'Om', 12.5, True, 'Hello']
Om
[1, 'Omya', 12.5, True, 'Hello']
Spoon
[1, 'Omya', 12.5, True, 'Hello', 1, 'Omya']
['Omya', 1, 'Hello', True, 12.5, 'Omya', 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
[1, 'Hello', True]
['Omya', 1, 'Hello', True, 12.5, 'Omya', 1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Tuple

tup1 = (1, 1, "Om", 12.5, True)
print(tup1)

#cannot append in tuple
# tup1.append("Hello")
# print(tup1)

print(tup1[2])

tup2=("orange","grapes")
print(tup1+tup2)  # tuples can be concatenated
tuple3=(1,2,3)
print(type(tuple3))
# tuple1.pop()    tuple cannot be modified

(1, 1, 'Om', 12.5, True)
Om
(1, 1, 'Om', 12.5, True, 'orange', 'grapes')
<class 'tuple'>

In [ ]:
# Sets

sets1 = {1, 2, 3, 31, 5, 1, 6, 3, 0, 7, 5, 9}
print(sets1)

sets2 = {1,2,3,4,5,"hello","tup"}
print(sets2)

sets1.add("Om")
print(sets1)

sets1.remove(31)
print(sets1)

set1={1,5,6,3,9}
# set1.index()  will throw an error as they are unordered

set1.pop()  # removes random element from the set
print(set1)

{0, 1, 2, 3, 5, 6, 7, 9, 31}
{1, 2, 3, 4, 5, 'hello', 'tup'}
{0, 1, 2, 3, 5, 6, 7, 9, 'Om', 31}
{0, 1, 2, 3, 5, 6, 7, 9, 'Om'}
{3, 5, 6, 9}

In [ ]:
# Dictionary

dict1 = {1:"Om", 2:"tejas", 3:"Vedant"}
print(dict1)
print(dict1.keys())# all the keys are printed
print(dict1.values())# all the values are printed
print(dict1.items())

dict1[2] = "Tejas"  # value assigned to key1 is replaced
print(dict1[2])

dict1.update({1:"Omya"})  # updates the dictionary
print(dict1)

dict1.pop(2) #pop/remove the item
print(dict1)

# dict1.index("key1") will throw an error
print(dict1.get(3))

dict1.update({2 : "Tejas"})
print(dict1)

del dict1[2]
print(dict1)

{1: 'Om', 2: 'tejas', 3: 'Vedant'}
dict_keys([1, 2, 3])
dict_values(['Om', 'tejas', 'Vedant'])
dict_items([(1, 'Om'), (2, 'tejas'), (3, 'Vedant')])
Tejas
{1: 'Omya', 2: 'Tejas', 3: 'Vedant'}
{1: 'Omya', 3: 'Vedant'}
Vedant
{1: 'Omya', 3: 'Vedant', 2: 'Tejas'}
{1: 'Omya', 3: 'Vedant'}